.top-banner {
  background: $linear-gradient-top-banner;
  padding: 2rem 0;

  span {
    color: $color-primary;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
  h1 {
    color: $color-black;
    font-size: 2.5625rem;
    font-style: normal;

    font-weight: 700;
    .highlight {
      color: $color-primary; // أو أي لون تفضله
      font-weight: bold;
      font-size: 2.5625rem;
    }
    @media screen and (max-width: 727px) {
      font-size: 1rem;
      .highlight {
        font-size: 1rem;
      }
    }
  }
  h2 {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    color: $color-primary;
  }
  p {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    color: $color-black;
  }
  .btn-primary {
    background-color: $color-primary;
    color: $color-white;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    border-radius: 2.5rem;
    border: none;
    @media screen and (max-width: 767px) {
      padding: 0.3rem;
      font-size: 0.7rem;
      gap: 1rem;
      text-wrap: nowrap; // منع التفاف النص
    }
    &:hover {
      background-color: $color-primary-80; // أو أي لون تفضله عند التمرير
    }
  }
  .btn-secondary {
    background: none !important;
    color: $color-primary;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    border-radius: 2.5rem;
    border: 1px solid $color-primary;
    @media screen and (max-width: 767px) {
      padding: 0.3rem;
      font-size: 0.7rem;
      gap: 1rem;
      text-wrap: nowrap; // منع التفاف النص
    }
    &:hover {
      background: $color-primary-20 !important; // أو أي لون تفضله عند التمرير
      color: $color-black; // تغيير لون النص عند التمرير
    }
  }
  .top-banner-img {
    background: url('../../../img/top-banner.png') no-repeat center center;
    background-size: cover;
    border-radius: 0.9375rem;
    position: relative;
    min-height: 400px;
    @media screen and (max-width: 767px) {
      min-height: 300px;
      margin-top: 2rem;
    }
    .no-of-students {
      position: absolute;
      background-color: $color-white;
      padding: 1rem;
      border-radius: 0.9375rem;
      top: 2rem;
      right: -10rem;
      box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
      @media screen and (max-width: 991px) {
        right: 0;
      }
      h6 {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        color: $color-black;
      }
      img {
        border-radius: 6250000rem;
        border: 1px solid #fff;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .contact-us {
      position: absolute;
      background-color: $color-white;
      padding: 1rem;
      border-radius: 0.9375rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      top: 15rem;
      left: 0;
      img {
        border-radius: 50%;
        padding: 1rem;
        background: rgba(247, 148, 30, 0.3);
      }
    }
  }
}
