.trainer {
  background-color: $color-primary-20;
  padding: 2rem;
  margin-bottom: 3rem;
  h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    color: $color-black;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
        
    }
  }
  p {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    color: $color-black;
      @media screen and (max-width: 768px) {
      font-size: 0.5rem;
        
    }
  }
}
