<!-- <section class="contact-us-banner d-flex flex-wrap ">
  <div class="text p-5">
    <h1>تواصل معنا</h1>
    <p>
      <img
        src="../../../../assets/svg/contact-us-banner/location-pin_svgrepo.com.svg"
        alt="location_icon"
      />
      {{ "footer.contactDetails" | translate }}
    </p>
    <p>
      <img
        src="../../../../assets/svg/contact-us-banner/PhoneCall.svg"
        alt="location_icon"
      />
      {{ "footer.phone" | translate }}
    </p>
    <p>
      <img
        src="../../../../assets/svg/contact-us-banner/EnvelopeSimple.svg"
        alt="location_icon"
      />
      {{ "footer.email" | translate }}
    </p>
  </div>
  <div class="map">
    <img src="../../../../assets/img/maps.jpg" alt="map" />
  </div>
</section> -->
