.news {
  width: 100%;
  position: relative;
  margin-bottom: 5rem;

  &__image {
    width: 100vw;
    height: 50vh;
    background: url("../../img/newsBackground.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5); // dark overlay
      z-index: 1;
    }

    .news__overlay {
      position: relative;
      z-index: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .news__text {
      color: white;

      h1 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 0.5rem;
      }
    }
  }
  &__mainNews {
    h1 {
      font-size: 2rem;
      color: $color-primary;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .news-card {
      margin-bottom: 2rem;
      img {
        width: 100%;
        max-width: 20rem;
        height: 100%;
        max-height: 20rem;
        object-fit: cover;
      }
      h1 {
        font-size: 1em;
        margin-top: 1rem;
        width: 80%;
        color: $color-gray-600;
        font-weight: normal;
        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 2; // limit to 4 lines
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
