<section class="homepage">
  <app-carusol-gallery></app-carusol-gallery>
  <div class="hero_text">
    <img src="../../../../../assets/svg/vector6.svg" alt="Vector 6" />
    <h1>{{ "homePage.aboutUnion" | translate }}</h1>
  </div>
  <div class="container">
    <div class="about row">
      <div
        class="col-12 col-md-6 col-lg-6 logo_img d-flex flex-wrap justify-content-center align-items-center"
      >
        <img
          src="../../../../../assets/img/logo white.png"
          class="w-10"
          alt="logo"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-6 text-center text-lg-end">
        <h1>{{ "homePage.union" | translate }}</h1>
        <p>{{ "homePage.unionDesc" | translate }}.</p>
        <div
          class="d-flex flex-wrap justify-content-center justify-content-lg-start"
        >
          <a [routerLink]="['/landing-page/union']">{{
            "homePage.more" | translate
          }}</a>
          <img
            class="me-2"
            src="../../../../../assets/svg/arrow-left.svg"
            alt="Arrow Left"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="about-group mt-5">
    <div class="container">
      <div
        class="d-flex mb-5 flex-wrap flex-lg-nowrap justify-content-between align-items-center"
      >
        <div class="text_manager mb-5 " [ngClass]="{ expanded: isExpanded }">
          <h1 class="text_hero_header">
            {{ "homePage.unionHeadSpeak" | translate }}
          </h1>
          <p class="text_expanded">
            {{ "homePage.unionHeadSpeakDesc" | translate }}
          </p>
          <div class="see-more-btn" (click)="toggleText()">
            {{
              (isExpanded ? "homePage.seeLess" : "homePage.seeMore") | translate
            }}
          </div>
        </div>

        <div class="member-card col-md-3 col-12">
          <img
            src="../../../../../assets/img/managerPhoto.jpg"
            alt="Manager Photo"
          />
          <div class="manager_name d-flex flex-column align-items-center">
            <h1>أ/حسام الشاعر</h1>
            <p>رئيس مجلس لأدارة</p>
          </div>
        </div>
      </div>
      <div class="group-name">
        <h2>{{ "homePage.unionTeam" | translate }}</h2>

        <div class="members-grid">
          <div *ngFor="let member of members" class="member-card">
            <img [src]="member.image" [alt]="member.name" />
            <div class="manager_name">
              <h1>{{ member.name }}</h1>
              <p *ngIf="member.title">{{ member.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="news text-center text-lg-end">
      <h1>{{ "homePage.news" | translate }}</h1>
      <div
        class="d-flex justify-content-between align-items-center flex-wrap gap-4"
      >
        <div class="buttons d-flex flex-wrap gap-3 m-auto m-lg-0">
          <app-shared-navigate-button
            [isActive]="selected === 'أخبار عن الإتحاد'"
            (click)="changeNewsType('أخبار عن الإتحاد')"
          >
            {{ "homePage.newsOfUnion" | translate }}
          </app-shared-navigate-button>

          <app-shared-navigate-button
            [isActive]="selected === 'أخبار السياحة'"
            (click)="changeNewsType('أخبار السياحة')"
          >
            {{ "homePage.newsOfTourist" | translate }}
          </app-shared-navigate-button>
        </div>
        <div class="d-flex gap-2 justify-content-center m-auto m-lg-0">
          <a [routerLink]="['/landing-page/news']">المزيد</a>
          <img
            class="me-2 arrow-more"
            src="../../../../../assets/svg/arrow-left.svg"
            alt="Arrow Left"
          />
        </div>
      </div>
      <div class="row mt-4">
        <div
          class="col-12 col-md-6 col-lg mb-3"
          *ngFor="let item of displayedNews"
        >
          <img [src]="item.image" alt="News" />
          <p>{{ item.description }}</p>
          <button class="news_btn">{{ item.buttonText }}</button>
        </div>
      </div>
    </div>
    <div class="rooms">
      <div class="text-center">
        <h1>{{ "homePage.touristRoom" | translate }}</h1>
      </div>
      <div class="container mt-3">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-6 col-lg-3 text-center">
            <img
              src="../../../../../assets/img/rooms/Group 114.png"
              alt="Rooms"
              class="img-fluid"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center">
            <img
              src="../../../../../assets/img/rooms/Group 110.png"
              alt="Rooms"
              class="img-fluid"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center">
            <img
              src="../../../../../assets/img/rooms/Group 111.png"
              alt="Rooms"
              class="img-fluid"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center">
            <img
              src="../../../../../assets/img/rooms/Group 109.png"
              alt="Rooms"
              class="img-fluid"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center">
            <img
              src="../../../../../assets/img/rooms/image 45.png"
              alt="Rooms"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
