<section class="homepage">
  <app-carusol-gallery></app-carusol-gallery>
  <div class="hero_text">
    <img src="../../../../../assets/svg/vector6.svg" alt="Vector 6" />
    <h1>الإتحاد المصري للغرف السياحية</h1>
  </div>
  <div class="container">
    <div class="about row">
      <div
        class="col-12 col-md-6 col-lg-6 logo_img d-flex flex-wrap justify-content-center align-items-center"
      >
        <img
          src="../../../../../assets/img/logo white.png"
          class="w-10"
          alt="logo"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h1>عن الأتحاد</h1>
        <p>
          يهدف الإتحاد إلى معاونة وزارة السياحة والآثار فى رسم السياسة العامة
          للنشاط السياحى، و تنفيذ الاستراتيجية الوطنية للسياحة المستدامة
          المتضمنة خارطة طريق جديدة للسياحة المصرية تهدف إلى دعم التنمية
          السياحية المستدامة بإعتبارها محركا للنمو الاقتصادي والتنمية الشاملة.
        </p>
        <div class="d-flex flex-wrap">
          <a [routerLink]="['/landing-page/union']">المزيد</a>
          <img
            class="me-2"
            src="../../../../../assets/svg/arrow-left.svg"
            alt="Arrow Left"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="about-group mt-5">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="text_manager w-75" [ngClass]="{ expanded: isExpanded }">
          <h1 class="text_hero_header">كلمة رئيس المجلس</h1>
          <p class="text_expanded">
            السادة الزملاء، قد شرفت أنا وزملائي بتولي مسؤولية هذا الكيان الذي
            اقترب من ميلاده السنين ليصبح واحداً من أقدم المؤسسات المساهمة في مصر
            بل أقدمها بالفعل. وأجدني أمامكم اليوم لأقدم لكم من خلال صفحات هذا
            التقرير لمحة عن جهودنا والأهداف التي وضعناها نصب أعيننا منذ اليوم
            الأول لتولي هذه المسؤولية أو منذ ما يقارب مائة يوم عمل تنتهي في 30
            يونيو الجاري. حيث وضع مجلس الإدارة أهداف هذه الدورة على النحو
            التالي: أولاً: المشاركة الفعالة في رسم خارطة طريق السياحة المصرية
            لتحقيق هدف الدولة الوصول بأعداد السائحين إلى ثلاثين مليون سائح
            سنوياً في 2030 وما يستلزم ذلك من إجراءات. وفي هذا الصدد أتقدم بالشكر
            والتقدير لمعالي دولة رئيس مجلس الوزراء السيد/ مصطفى مدبولي وشخصه
            الكريم الذي حرص على مشاركة الإغاد في كافة الاجتماعات واللجان ذات
            الصلة ومنها اللجنة الاستشارية للسياحة برئاسة سيادته والتي أشرف
            بعضويتها ضمن عدد محدود من السادة الزملاء المستثمرين السياحيين في
            مصر. وتناولت هذه اللجنة بالدراسة التفصيلية السبل والإجراءات التي
            ينبغي اتخاذها للنهوض بصناعة السياحة المصرية وتحقيق الأهداف المنشودة
            منها. وقد وضع الإغاد كافة خبرائه من خلال أعضاء المجلس والجهاز
            الإداري لمساندة هذه اللجنة في أعمالها مما سيعود بالنفع على القطاع
            ككل ومن ثم على مصر وشعبها الكريم. والأجدر أن أختم هذه الكلمة دون أن
            أتقدم بآيات العرفان والتقدير والشكر للرجل الذي كرس حياته ولا تهدأ
            جهوده سعياً لتوفير الأمن والأمان وهو الأمر الذي بدونه لن تكون هناك
            صناعة سياحة، فخامة الرئيس عبد الفتاح السيسي رئيس جمهورية مصر العربية
            الذي يمثل الداعم الأول لانتعاش السياحة المصرية وتأمينها وسندها بعد
            الله عز وجل. وفي النهاية أشكركم جميعاً وأسأل الله تعالى أن يوفقنا
            جميعاً لما فيه خير مصر وشعبها. حسام الشاعر كما أشكر معالي السادة
            وزراء الداخلية والموارد المائية والري والإسكان والتعبئة المحلية
            والصحة والطيران والسادة المحافظين وخاصة محافظي المحافظات السياحية.
            ثالثاً: العمل على تفعيل القوانين الصادرة بشأن الغرف السياحية
            والإغاثة وكذا قانون المنشآت الفندقية والسياحية. وهنا لا بد أن أتقدم
            بالشكر لكل من ساهم في وضع هذه القوانين بداية من السادة الزملاء أعضاء
            مجلس إدارة الإغاثة بالدورة السابقة برئاسة السيد/ أحمد الوصيف والسادة
            المستشارين القانونيين وقطاع السياحة والطيران بمجلس النواب برئاسة
            السيدة/ نورا علي والسادة المستشارين القانونيين والمستثمرين بوزارة
            السياحة والآثار تحت رعاية السادة الوزراء المعنيين. وقد حرص الإغاثة
            على إعلام السادة أعضاء الجمعية العمومية بكافة تحركاته ومتابعة أعمال
            هذه اللجان من خلال الأخبار الصحفية والنشرات الإعلامية الدورية التي
            تصدرها الوحدة الإعلامية بالإغاثة وهي وحدة مستحدثة تهدف إلى إعلام
            القطاع السياحي بكافة تحركات الإغاثة على مختلف الأصعدة والتنسيق بين
            الغرف السياحية الخمس ليس فقط لنشر أخبار الإغاثة ولكن تمهيد الطريق
            أمام متخذي القرار من خلال توفير المعلومات وبلورة الرأي بشأن
            الموضوعات ذات الصلة المباشرة وغير المباشرة بصناعة السياحة. كما حرص
            الإغاثة على إشراك السادة أعضاء الجمعية العمومية في أعمال اللجان
            النوعية المتخصصة بالإغاثة والاستثمار انطلاقاً من إيماننا الراسخ بأن
            كل منكم يعتبر نموذجاً لصناعة السياحة في النشاط المتخصص الذي يزاوله.
          </p>
          <div class="see-more-btn" (click)="toggleText()">
            {{ isExpanded ? "عرض أقل" : "عرض المزيد" }}
          </div>
        </div>
        <div>
          <div class="member-card">
            <img
              src="../../../../../assets/img/managerPhoto.jpg"
              alt="Manager Photo"
            />
            <div class="manager_name d-flex flex-column align-items-center">
              <h1>أ/حسام الشاعر</h1>
              <p>رئيس مجلس لأدارة</p>
            </div>
          </div>
        </div>
      </div>
      <div class="group-name">
        <h2>أعضاء مجلس الإدارة</h2>

        <div class="members-grid">
          <div *ngFor="let member of members" class="member-card">
            <img [src]="member.image" [alt]="member.name" />
            <div class="manager_name">
              <h1>{{ member.name }}</h1>
              <p *ngIf="member.title">{{ member.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="news">
      <h1>الأخبار</h1>
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="buttons d-flex flex-wrap gap-3">
          <app-shared-navigate-button
            [isActive]="selected === 'أخبار عن الإتحاد'"
            (click)="changeNewsType('أخبار عن الإتحاد')"
          >
            أخبار عن الإتحاد
          </app-shared-navigate-button>

          <app-shared-navigate-button
            [isActive]="selected === 'أخبار السياحة'"
            (click)="changeNewsType('أخبار السياحة')"
          >
            أخبار السياحة
          </app-shared-navigate-button>
        </div>
        <div class="d-flex flex-wrap">
          <a [routerLink]="['/landing-page/news']">المزيد</a>
          <img
            class="me-2"
            src="../../../../../assets/svg/arrow-left.svg"
            alt="Arrow Left"
          />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col mb-3" *ngFor="let item of displayedNews">
          <img [src]="item.image" alt="News" />
          <p>{{ item.description }}</p>
          <button class="news_btn">{{ item.buttonText }}</button>
        </div>
      </div>
    </div>
    <div class="rooms">
      <div class="text-center">
        <h1>الغرف السياحية</h1>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-wrap mt-3 gap-5"
      >
        <img src="../../../../../assets/img/rooms/Group 114.png" alt="Rooms" />
        <img src="../../../../../assets/img/rooms/Group 110.png" alt="Rooms" />
        <img src="../../../../../assets/img/rooms/Group 111.png" alt="Rooms" />
        <img src="../../../../../assets/img/rooms/Group 109.png" alt="Rooms" />
        <img src="../../../../../assets/img/rooms/image 45.png" alt="Rooms" />
      </div>
    </div>
  </div>
</section>
