<section class="room">
  <div class="w-100 room__image">
    <div class="room__overlay">
      <div class="room__text">
        <h1>{{ "travelroom.title" | translate }}</h1>
        <nav class="breadcrumb">
          <a [routerLink]="['/landing-page/home']">{{
            "navbar.home" | translate
          }}</a>
          <span>&nbsp;>&nbsp;</span>
          <span>{{ "travelroom.breadcrumb" | translate }}</span>
        </nav>
      </div>
    </div>
  </div>

  <div class="mt-5 container room__content">
    <div
      class="d-flex text-center text-lg-start justify-content-center align-items-center"
    >
      <h1>{{ "travelroom.header" | translate }}</h1>
    </div>

    <div class="mt-3">
      <div
        class="row text-center d-flex justify-content-center align-items-center"
      >
        <div class="col-12 col-6 col-lg-6">
          <p class="mb-0 text-end">
            {{ "travelroom.description" | translate }}
          </p>
        </div>
        <div class="col-12 col-6 col-lg-6">
          <img
            src="../../../../../../assets/img/rooms/Group_110.png"
            alt="logo"
            class="room_img"
          />
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>{{ "travelroom.officialSite.title" | translate }}</h1>
        <div class="mt-3">
          <a
            href="https://www.etaa-egypt.org/"
            target="_blank"
            class="room-website-btn"
          >
            <svg class="btn-icon" viewBox="0 0 24 24">
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.94-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"
              />
            </svg>
            {{ "travelroom.visitWebsite" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
