<section class="news">
  <!-- Header Section -->
  <div class="w-100 news__image">
    <div class="news__overlay">
      <div class="news__text">
        <h1>{{ "news.pageTitle" | translate }}</h1>
        <nav class="breadcrumb">
          <a [routerLink]="['/landing-page/home']">{{
            "news.breadcrumbHome" | translate
          }}</a>
          <span>&nbsp;>&nbsp;</span>
          <span>{{ "news.breadcrumbNews" | translate }}</span>
        </nav>
      </div>
    </div>
  </div>

  <!-- Union News Section -->
  <div class="news__mainNews mt-5">
    <div class="container">
      <h1>{{ "news.unionNewsTitle" | translate }}</h1>
      <div class="row justify-content-center text-center">
        <div
          class="col-12 col-sm-10 col-md-6 col-lg-4"
          *ngFor="let item of newsItems"
        >
          <div class="news-card d-flex flex-column align-items-center">
            <img [src]="item.image" alt="news" />
            <h1>{{ item.description }}</h1>
            <button class="news_btn w-50">
              {{ item.buttonText || ("news.readMore" | translate) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tourism News Section -->
  <div class="news__mainNews mt-5">
    <div class="container">
      <h1>{{ "news.tourismNewsTitle" | translate }}</h1>
      <div class="row justify-content-center text-center">
        <div
          class="col-12 col-sm-10 col-md-6 col-lg-4"
          *ngFor="let item of tourismNews"
        >
          <div class="news-card d-flex flex-column align-items-center">
            <img [src]="item.image" alt="news" />
            <h1>{{ item.description }}</h1>
            <button class="news_btn w-50">
              {{ item.buttonText || ("news.readMore" | translate) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
