<section class="top-banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 col-lg-6">
        <span
          ><ul>
            <li>ابدأ رحلتك نحو مستقبل أفضل</li>
          </ul></span
        >
        <h1>
          منصتك <span class="highlight">الموثوقة</span> لتعلم المهارات المطلوبة
          في <span class="highlight">سوق العمل</span>،من أفضل المدربين وخبراء
          المجال.
        </h1>
        <div class="d-flex flex-column mt-5">
          <h2>مرحبًا بك في منصتنا التعليمية</h2>
          <p>
            نحن نوفّر مجموعة من الدورات التدريبية عالية الجودة في مختلف
            المجالات، مصممة لتلبية احتياجات المتعلمين من جميع المستويات.
          </p>
        </div>
        <div class="mt-5 d-flex gap-3">
          <button class="btn-primary">
            الاطلاع علي المناهج
            <img src="../../../../assets/svg/arrow-left.svg" alt="arrow" />
          </button>
          <button class="btn-secondary">
            من نحن
            <img
              src="../../../../assets/svg/arrow-left-color.svg"
              alt="arrow"
            />
          </button>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 top-banner-img">
        <div class="no-of-students">
          <div class="d-flex flex-column">
            <h6>+50 عدد الطلاب المسجلين</h6>
            <div class="d-flex">
              <img
                src="../../../../assets/img/student img.png"
                alt="students"
              />
              <img
                src="../../../../assets/img/student img.png"
                alt="students"
              />
            </div>
          </div>
        </div>
        <div class="contact-us">
          <div class="d-flex gap-2 align-items-center justify-content-center">
            <img src="../../../../assets/svg/call-calling.svg" alt="call" />
            <div class="d-flex flex-column mt-3">
              <h6>للتواصل معنا</h6>
              <p>0237483313</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
