<section class="room">
  <div class="w-100 room__image">
    <div class="room__overlay">
      <div class="room__text">
        <h1>الغرف السياحية</h1>
        <nav class="breadcrumb">
          <a [routerLink]="['/landing-page/home']">الرئيسية</a>
          <span>&nbsp;>&nbsp;</span>
          <span>الغرف</span>
        </nav>
      </div>
    </div>
  </div>
  <div class="mt-5 container room__content">
    <div
      class="d-flex text-center text-lg-start justify-content-center align-items-center"
    >
      <h1>غرفة محال العاديات والسلع السياحية</h1>
    </div>
    <div class="mt-3">
      <div
        class="row text-center d-flex justify-content-center align-items-center"
      >
        <div class="col-12 col-6 col-lg-6">
          <p class="mb-0 text-end">
            وتضم فى عضويتها منشآت بيع العاديات والسلع السياحية الصادر بها ترخيص
            من وزارة السياحة وتعنى بأعضائها ونشاطهم فى تجارة السلع السياحية بهدف
            تطوير المنتج ورفع مستوى العاملين والعمل على حل مشاكلهم وتمثيلهم أمام
            جهات الاختصاص
          </p>
        </div>
        <div class="col-12 col-6 col-lg-6">
          <img
            src="../../../../../../assets/img/rooms/image 45.png"
            alt="logo"
            class="room_img"
          />
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>الموقع الرسمي</h1>
        <div class="mt-3">
          <span class="d-flex align-items-center flex-wrap gap-3">
            <img src="../../../../../../assets/svg/website.svg" alt="website" />
            <a href="https://www.cdws.travel/ar" target="_blank"
              >https://www.facebook.com/egyptianctc</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
