<section class="about-union">
  <div class="w-100 about-union__image">
    <div class="about-union__overlay">
      <div class="about-union__text">
        <h1>{{ 'union.pageTitle' | translate }}</h1>
        <nav class="breadcrumb">
          <a [routerLink]="['/landing-page/home']">{{ 'navbar.home' | translate }}</a>
          <span>&nbsp;>&nbsp;</span>
          <span>{{ 'union.pageTitle' | translate }}</span>
        </nav>
      </div>
    </div>
  </div>

  <div class="container about-union__content text-center">
    <h1>{{ 'union.aboutTitle' | translate }}</h1>
    <p>{{ 'union.aboutDescription' | translate }}</p>
  </div>

  <div class="mt-5 about-union__message">
    <!-- Vision -->
    <div class="about-union__message__vision">
      <div class="row align-items-center">
        <div class="col-12 col-md-7 px-4 about-union__message__vision__text">
          <h1>{{ 'union.vision.title' | translate }}</h1>
          <p>{{ 'union.vision.description' | translate }}</p>
        </div>
        <div class="col-12 col-md-5 text-center d-none d-md-block">
          <img src="../../../../../assets/img/vision.jpg" alt="vision" />
        </div>
      </div>
    </div>

    <!-- Mission -->
    <div class="about-union__message__visionMessage">
      <div class="row align-items-center flex-md-row-reverse">
        <div class="col-12 col-md-7 px-4 about-union__message__vision__text">
          <h1>{{ 'union.mission.title' | translate }}</h1>
          <p>{{ 'union.mission.description' | translate }}</p>
        </div>
        <div class="col-12 col-md-5 text-center d-none d-md-block">
          <img src="../../../../../assets/img/visionMessage.jpg" alt="mission" />
        </div>
      </div>
    </div>
  </div>

  <!-- Committees -->
  <div class="container mt-5 about-union__committees text-center">
    <h1>{{ 'union.committeesTitle' | translate }}</h1>
    <div class="row justify-content-center gap-3">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4 card-committees p-4" *ngFor="let committee of committees">
        <img [src]="committee.icon" [alt]="committee.title" class="mb-3" />
        <h2>{{ committee.title }}</h2>
        <h1>{{ committee.head }}</h1>
        <p *ngFor="let point of committee.points">
          <img class="me-2" src="../../../../../assets/svg/arrowCommittess.svg" alt="arrow" />
          {{ point }}
        </p>
      </div>
    </div>
  </div>

  <!-- Reports -->
  <div class="container mt-5 about-union__reports text-center">
    <h1>{{ 'union.reportsTitle' | translate }}</h1>
    <div class="row justify-content-center gap-3">
      <div class="col-12 col-sm-10 col-md-6 col-lg-3 card-report p-4" *ngFor="let report of reports">
        <h1>{{ 'union.reportLabel' | translate }} {{ report.year }}</h1>
        <p>{{ report.description }}</p>
      </div>
    </div>
  </div>
</section>