<section class="logo-banner">
  <div class="d-flex justify-content-center align-items-center">
    <h1>معتمد من قبل أكثر من فريق متميز</h1>
  </div>
  <div class="d-flex gap-5 justify-content-center mt-3">
    <img
      class="logo"
      src="../../../../assets/img/rooms/Group 109.png"
      alt="room"
    />
    <img
      class="logo"
      src="../../../../assets/img/rooms/Group 114.png"
      alt="room"
    />
    <img
      class="logo"
      src="../../../../assets/img/rooms/Group 111.png"
      alt="room"
    />
    <img
      class="logo"
      src="../../../../assets/img/rooms/Group 110.png"
      alt="room"
    />
    <img
      class="logo"
      src="../../../../assets/img/rooms/image 45.png"
      alt="room"
    />
  </div>
</section>
