<section class="footer">
  <ul class="footer__list">
    <li class="first_list">
      <img src="../../../../assets/img/logo.png" alt="logo" />
      <h4>
        الإتحاد المصرى للغرف السياحية هو اتحاد مهنى أنشىء بالقانون رقم 85 لسنة
        1968 وتعديله الصادر  بالقانون رقم 27 لسنة 2023، والذى ينص على" يقوم
        الاتحاد على رعاية المصالح المشتركة للنشاط السياحى والقائمين عليه فى
        جمهورية مصر العربية
      </h4>
    </li>
    <li class="second_list">
      <h1>روابط هامة</h1>
      <p><a>من نحن </a></p>
      <p><a>الاخبار </a></p>
      <p><a>اتصل بنا </a></p>
    </li>
    <li class="third_list">
      <h1>تواصل معنا</h1>
      <p>
        <img
          src="../../../../assets/svg/location-pin_svgrepo.com.svg"
          alt="location_icon"
        />٨ شارع السد العالي، الدقي، الجيزة، جمهورية مصر العربية
      </p>
      <p>
        <img
          src="../../../../assets/svg/PhoneCall.svg"
          alt="location_icon"
        />0237483313
      </p>
      <p>
        <img
          src="../../../../assets/svg/EnvelopeSimple.svg"
          alt="location_icon"
        /> Info&#64;etf.org.eg
      </p>
    </li>
  </ul>
  <div class="social_media">
    <h1>تابعنا علي</h1>
    <div class="social_media__icons">
      <img
        src="../../../../assets/svg/Link - Link to Calendly Facebook account.svg"
        alt="facebook_icon"
      />
      <img
        src="../../../../assets/svg/Link - Link to Calendly Instagram account.svg"
        alt="instagram_icon"
      />
      <img
        src="../../../../assets/svg/Link - Link to Calendly Twitter account.svg"
        alt="twitter_icon"
      />
      <img
        src="../../../../assets/svg/Link - Link to Calendly Linkedin account.svg"
        alt="linkedin_icon"
      />
      <img
        src="../../../../assets/svg/Link - Link to Calendly Youtube account.svg"
        alt="youtube_icon"
      />
    </div>
  </div>
  <div
    class="w-100 bg-white  d-flex justify-content-center align-content-center high_light"
  >
    <h1>
      حقوق النشر © الإتحاد المصرى للغرف السياحية، مصر، 2025. جميع الحقوق محفوظة.
    </h1>
  </div>
</section>
