<section class="dreams">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-6">
            <div class="d-flex flex-column">
              <img
                src="../../../../assets/img/df509221ce4f392ec28cdd907420878627d1bdb8.png"
                alt="dream1"
              />
              <span class="dream mt-4"
                ><h1>5k+</h1>
                <p>تقييمات ممتازة</p></span
              >
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <div class="row mb-3">
                <div class="col-6">
                  <span class="dream colored gap-0"
                    ><h1>16k</h1>
                    <p>زيارة في اليوم</p></span
                  >
                </div>
                <div class="col-6">
                  <span class="dream gap-0"
                    ><h1>5k+</h1>
                    <p>مشترك في اليوم</p></span
                  >
                </div>
              </div>
              <img
                src="../../../../assets/img/7f9243b191fa23d6df286330bc998b5d4b099dcc.png"
                alt="dream1"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <span class="dream-text"
          ><ul>
            <li>عن الاتحاد</li>
          </ul></span
        >
        <h1>
          المكان الذي يمكنك أن تحقق فيه <span class="highlight">احلامك</span>
        </h1>
        <p>
          هنا، نمنحك الأدوات، المعرفة، والدعم الذي تحتاجه لتطوّر نفسك، تكتسب
          مهارات جديدة، وتفتح أبواب الفرص أمامك.  سواء كنت تطمح لمستقبل مهني
          أفضل، أو تسعى لاكتشاف شغف جديد، نحن معك في كل خطوة
        </p>
        <div class="row mt-5">
          <div class="col-12 mb-3">
            <div class="d-flex gap-3">
              <img
                class="dream-icon"
                src="../../../../assets/svg/dream/status-up.svg"
                alt="status-up"
              />
              <div class="d-flex flex-column dream-title">
                <h1>الرؤية</h1>
                <p>
                  هنا، نمنحك الأدوات، المعرفة، والدعم الذي تحتاجه لتطوّر نفسك،
                  تكتسب مهارات جديدة، وتفتح أبواب الفرص أمامك.  سواء كنت تطمح
                  لمستقبل مهني أفضل، أو تسعى لاكتشاف شغف جديد، نحن معك في كل
                  خطوة
                </p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex gap-2 dream-title">
              <img
                class="dream-icon"
                src="../../../../assets/svg/dream/lamp-on.svg"
                alt="lamp"
              />
              <div class="d-flex flex-column">
                <h1>الرسالة</h1>
                <p>
                  هنا، نمنحك الأدوات، المعرفة، والدعم الذي تحتاجه لتطوّر نفسك،
                  تكتسب مهارات جديدة، وتفتح أبواب الفرص أمامك.  سواء كنت تطمح
                  لمستقبل مهني أفضل، أو تسعى لاكتشاف شغف جديد، نحن معك في كل
                  خطوة
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <hr class="dotted-line" />
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class=" ">
            <button class="btn-primary">
              الاطلاع علي المناهج
              <img src="../../../../assets/svg/arrow-left.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
