<section class="types">
  <div class="container">
    <div
      class="d-flex flex-column p-5 justify-content-center align-items-center"
    >
      <h1>استكشف الفئات المختلفة المجانية للطلاب</h1>
      <p>
        سواء كنت في بداية مسارك الأكاديمي أو تسعى لتطوير مهاراتك في مجال تخصصك،
        ستجد لدينا كل ما تحتاج إليه. نُقدّم دورات تدريبية عبر الإنترنت في مجالات
        متعددة تشمل البرمجة، التصميم، اللغات، وإدارة الأعمال
      </p>
    </div>
    <div
      class="types-cards row gap-3 d-flex justify-content-center align-items-center"
    >
      <div class="col-3" *ngFor="let type of types()">
        <div class="d-flex justify-content-end">
          <img class="type-img" [src]="type.img" alt="type" />
        </div>
        <h1>{{ type.name }}</h1>
        <p>{{ type.description }}</p>
        <p>
          {{ type.examples}}
        </p>
        <div class="d-flex gap-3">
          <a>عرض الفئة</a>
          <img src="../../../../assets/svg/types/arrow-left.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </div>
</section>
