/* You can add global styles to this file, and also import other style files */
@import "assets/styles/main.scss";

* {
  transition: all 0.3s ease-in-out;

  box-sizing: border-box;
}
body {
  font-family: "Cairo", "Poppins", sans-serif;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
p{
  text-align: justify;
}
