<section class="training-courses">
  <div class="container">
    <div class="d-flex justify-content-between gap-5 align-items-center">
      <div class="d-flex flex-column">
        <h2>
          سواء كنت في بداية مسارك الأكاديمي أو تسعى لتطوير مهاراتك في مجال
          تخصصك، ستجد لدينا كل ما تحتاج إليه !.
        </h2>
        <a
          >عرض المناهج
          <img
            src="../../../../assets/svg/arrow-left-color-left.svg"
            alt="arrow"
        /></a>
      </div>
      <h1>استكشف أكثر من 4,000 دورة تدريبية مجانية عبر الإنترنت للطلاب</h1>
    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="mb-4 p-8 flex items-center justify-center">
            <p-card [style]="{ overflow: 'hidden' }">
              <ng-template pTemplate="header">
                <img
                  alt="Card"
                  class="w-full"
                  src="../../../../assets/img/7ef2304b20f6ad5592ea1cfd9a75cc52a2d5773f.png"
                />
              </ng-template>

              <ng-template pTemplate="title"> المنهج الأول </ng-template>

              <div
                class="row d-flex justify-content-between align-items-center"
              >
                <div class="col-6 mb-3">
                  <div class="d-flex gap-2">
                    <img
                      src="../../../../assets/svg/card/video.svg"
                      alt="video"
                    />
                    <span>20 محاضره</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="d-flex justify-content-center gap-2">
                    <img
                      src="../../../../assets/svg/card/chart.svg"
                      alt="chart"
                    />
                    <span>مبتدئ</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="d-flex gap-2">
                    <img
                      src="../../../../assets/svg/card/star.svg"
                      alt="star"
                    />
                    <span>(9k)4.5</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div
                    class="d-flex justify-content-center align-items-center gap-2"
                  >
                    <img
                      class="img-profile"
                      src="../../../../assets/img/student img.png"
                      alt="student"
                    />
                    <span>احمد</span>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                  <hr class="dotted-line" />
                </div>
              </div>

              <ng-template pTemplate="footer">
                <div class="d-flex justify-content-center mt-1">
                  <p-button
                    label="البداء بالمنهج"
                    styleClass="w-full"
                  ></p-button>
                </div>
              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
