<section class="training-courses">
  <div class="container">
    <div class="d-flex justify-content-between gap-5 align-items-center">
      <div class="d-flex flex-column">
        <h2>
          سواء كنت في بداية مسارك الأكاديمي أو تسعى لتطوير مهاراتك في مجال
          تخصصك، ستجد لدينا كل ما تحتاج إليه !.
        </h2>
        <a
          >عرض المناهج
          <img
            src="../../../../assets/svg/arrow-left-color-left.svg"
            alt="arrow"
        /></a>
      </div>
      <h1>استكشف أكثر من 4,000 دورة تدريبية مجانية عبر الإنترنت للطلاب</h1>
    </div>
  </div>
</section>
