<section class="about-union">
  <div class="w-100 about-union__image">
    <div class="about-union__overlay">
      <div class="about-union__text">
        <h1>عن الإتحاد</h1>
        <nav class="breadcrumb">
          <a [routerLink]="['/landing-page/home']">الرئيسية</a>
          <span>&nbsp;>&nbsp;</span>
          <span>عن الإتحاد</span>
        </nav>
      </div>
    </div>
  </div>

  <div class="container about-union__content text-center">
    <h1>عن الإتحاد</h1>
    <p>
      الاتحاد المصرى للغرف السياحية هو اتحاد مهنى أنشىء لسنة 1968 وتعديله الصادر
    </p>
  </div>

  <div class="mt-5 about-union__message">
    <!-- الرؤية -->
    <div class="about-union__message__vision">
      <div class="row align-items-center">
        <div class="col-12 col-md-7 px-4 about-union__message__vision__text">
          <h1>الرؤية</h1>
          <p>
            يؤمن الاتحاد المصري للغرف السياحية بأهمية صناعة السياحة ويعتبرها
            قاطرة للتنمية...
          </p>
        </div>
        <div class="col-12 col-md-5 text-center d-none d-md-block">
          <img src="../../../../../assets/img/vision.jpg" alt="vision" />
        </div>
      </div>
    </div>

    <!-- الرسالة -->
    <div class="about-union__message__visionMessage">
      <div class="row align-items-center flex-md-row-reverse">
        <div class="col-12 col-md-7 px-4 about-union__message__vision__text">
          <h1>الرسالة</h1>
          <p>
            أن يكون الإتحاد المصري للغرف السياحية رائدًا في دعم وتعزيز قطاع
            السياحة...
          </p>
        </div>
        <div class="col-12 col-md-5 text-center d-none d-md-block">
          <img
            src="../../../../../assets/img/visionMessage.jpg"
            alt="message"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- اللجان -->
  <div class="container mt-5 about-union__committees text-center">
    <h1>اللجان النوعية</h1>
    <div class="row justify-content-center gap-3">
      <div
        class="col-12 col-sm-10 col-md-6 col-lg-4 card-committees p-4"
        *ngFor="let committee of committees"
      >
        <img [src]="committee.icon" [alt]="committee.title" class="mb-3" />
        <h2>{{ committee.title }}</h2>
        <h1>{{ committee.head }}</h1>
        <p *ngFor="let point of committee.points">
          <img
            class="me-2"
            src="../../../../../assets/svg/arrowCommittess.svg"
            alt="arrow"
          />
          {{ point }}
        </p>
      </div>
    </div>
  </div>

  <!-- التقارير السنوية -->
  <div class="container mt-5 about-union__reports text-center">
    <h1>التقارير السنوية</h1>
    <div class="row justify-content-center gap-3">
      <div
        class="col-12 col-sm-10 col-md-6 col-lg-3 card-report p-4"
        *ngFor="let report of reports"
      >
        <h1>تقرير سنة {{ report.year }}</h1>
        <p>{{ report.description }}</p>
      </div>
    </div>
  </div>
</section>
