<section class="about-union">
  <div class="w-100 about-union__image">
    <div class="about-union__overlay">
      <div class="about-union__text">
        <h1>عن الإتحاد</h1>
        <nav class="breadcrumb">
          <a routerLink="/home">الرئيسية</a>
          <span>&nbsp;>&nbsp;</span>
          <span>عن الإتحاد</span>
        </nav>
      </div>
    </div>
  </div>
  <div class="container about-union__content">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h1>عن الإتحاد</h1>
      <p>
        الاتحاد المصرى للغرف السياحية هو اتحاد مهنى أنشىء لسنة 1968 وتعديله
        الصادر  بالقانون رقم 27 لسنة 2023، والذى ينص على" يقوم الاتحاد على رعاية
        المصالح المشتركة للنشاط السياحى والقائمين عليه فى جمهورية مصر العربية
        ويتولى تنسيق أعمال الغرف، ويشرف على حسن سير أعماله ويعاون الحكومة فى وضع
        الخطط والسياسات السياحية للبلاد وتنفيذها، ويتعين أخذ رأيه في مشروعات
        القوانين والقرارات التنظيمية المتصلة أو المرتبطة بالسياحة"  ويهدف
        الاتحاد إلى معاونة وزارة السياحة والآثار فى رسم السياسة العامة للنشاط
        السياحى، و تنفيذ الاستراتيجية الوطنية للسياحة المستدامة المتضمنة خارطة
        طريق جديدة للسياحة المصرية تهدف إلى دعم التنمية السياحية المستدامة
        بإعتبارها محركا للنمو الاقتصادي والتنمية الشاملة.  ويتعاون الاتحاد مع
        وزارة السياحة والآثار لتعزيز القدرة التنافسية للسياحة المصرية من خلال
        العمل على محاور عدة أهمها تطوير المنظومة التدريبية وفقا للمعايير الدولية
        ، ودعم التحول الرقمى للنشاط السياحى، وإعداد الدراسات وتقديم المقترحات
        الخاصة بالشأن السياحي. كما يعمل الاتحاد على بناء الشراكات والتواصل مع
        المنظمات السياحية المحلية والإقليمية والدولية ويعتبر  الاتحاد الممثل
        الوحيد للمصالح المشتركة للغرف السياحية والمنظمة الرسمية لأصحاب الأعمال
        فى مجال السياحة
      </p>
    </div>
  </div>
  <div class="mt-5 about-union__message">
    <div class="about-union__message__vision">
      <div class="row">
        <div
          class="col-12 col-md-7 col-lg-7 about-union__message__vision__text"
        >
          <h1>الرؤية</h1>
          <p class="w-100 w-md-50 w-lg-50">
            يؤمن الاتحاد المصري للغرف السياحية بأهمية صناعة السياحة ويعتبرها
            قاطرة للتنمية الأقتصادية وتحقيق الازدهار المنشود لمصر وشعبها
          </p>
        </div>
        <div class="col d-none d-md-block d-lg-block">
          <img src="../../../../../assets/img/vision.jpg" alt="vision" />
        </div>
      </div>
    </div>
    <div class="about-union__message__visionMessage">
      <div class="row">
        <div class="col d-none d-md-block d-lg-block">
          <img src="../../../../../assets/img/visionMessage.jpg" alt="vision" />
        </div>
        <div
          class="col-12 col-md-7 col-lg-7 about-union__message__vision__text"
        >
          <h1>الرسالة</h1>
          <p class="w-100 w-md-50 w-lg-50">
            أن يكون الإتحاد المصري للغرف السياحية رائدًا في دعم وتعزيز قطاع
            السياحة في مصر، من خلال توفير بيئة عمل مواتية للنمو والابتكار،
            وتحقيق التميز في تقديم الخدمات السياحية، وتعزيز التنسيق و التعاون
            بين مختلف الغرف السياحية محليًا ودوليًا لدعم الترويج والاستثمار في
            السياحة المصرية
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 about-union__committees">
    <div class="d-flex justify-content-center align-items-center">
      <h1>اللجان النوعية</h1>
    </div>
    <div class="row gap-3 d-flex justify-content-center">
      <div
        class="col-12 col-md-4 col-lg-5 card-committees p-5"
        *ngFor="let committee of committees"
      >
        <div class="d-flex flex-column align-items-start">
          <img [src]="committee.icon" [alt]="committee.title" />
          <h2>{{ committee.title }}</h2>
          <h1>{{ committee.head }}</h1>
          <p *ngFor="let point of committee.points">
            <img
              class="mt-3"
              src="../../../../../assets/svg/arrowCommittess.svg"
              alt="arrow"
            />
            {{ point }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 about-union__reports">
    <div class="d-flex justify-content-center align-items-center">
      <h1>التقارير السنوية</h1>
    </div>
    <div class="">
      <div class="row gap-3 d-flex justify-content-center">
        <div
          *ngFor="let report of reports"
          class="col-12 col-md-6 col-lg-3 p-5 card-report"
        >
          <div class="text-center">
            <h1>تقرير سنة {{ report.year }}</h1>
            <p>{{ report.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
